#triangle{
  width: 0; 
	min-height: 60px;
	border-left: 90px solid rgba(255, 255, 255, 0);;
	border-right: 90px solid rgba(255, 255, 255, 0);;
	margin-right: -10px;
  margin-left: -10px;
	border-bottom: 50px solid #FFFFFF;
}
/***********  Content SEARCH styling  ************/
.field-name-ting-cover {
    visibility: visible;
}
